<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Voluntariado de ANDEX</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(client) app/vendor.css -->
    <link rel="stylesheet" href="vendor/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap-theme.css">
      <!-- bower:css -->
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body ng-app="andexApp" ng-init="seccion = ''" ng-class="seccion">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-cloak ng-controller="SidebarCtrl">
      <ul ng-show="activa" class="sidebar" role="dialog" tabindex="0">
        <li class="item">
          <a ng-click="toggleSidebar(false)" href="/">
            <i class="fa fa-calendar"></i>Asistencias
          </a>
        </li>
        <li class="item" ng-show="esVoluntario() || esSede()">
          <a ng-click="toggleSidebar(false)" href="/voluntariado">
            <i class="fa fa-users"></i>Voluntariado
          </a>
        </li>
        <li class="item" ng-show="esSede()">
          <a ng-click="toggleSidebar(false)" href="/sede">
            <i class="fa fa-building-o"></i>Sede
          </a>
        </li>
        <li class="item" ng-show="!logado()">
          <a ng-click="toggleSidebar(false); login()" href="/login">
            <i class="fa fa-sign-out"></i>Iniciar sesión
          </a>
        </li>
        <!-- <li class="item" ng-show="esAnonimo()">
          <a ng-click="toggleSidebar(false);" href="/identificacion">
            <i class="fa fa-key"></i>Identificación
          </a>
        </li> -->
        <li class="item" ng-show="logado()">
          <a ng-click="toggleSidebar(false); logout()" href="/logout">
            <i class="fa fa-sign-out"></i>Cerrar sesión
          </a>
        </li>
      </ul>
      <div ng-show="activa" ng-click="toggleSidebar(false)" class="dimmer"></div>
      <header class="navbar clearfix">
        <button aria-label="Abrir menú" ng-click="toggleSidebar(true)" class="sidebar-btn">
          <i class="fa fa-lg fa-bars"></i>
        </button>
        <h1 class="titulo">ANDEX</h1>
      </header>
    </div>

    <div class="mainview" ng-view=""></div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <!-- endbower -->
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/moment/locale/es.js"></script>
    <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
    <script src="vendor/ui-bootstrap-custom-0.10.0.js"></script>
    <script src="vendor/ui-bootstrap-custom-tpls-0.10.0.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,client}) app/app.js -->
        <script src="app/app.js"></script>
          <!-- injector:js -->
          <script src="app/Auth/Auth.js"></script>
          <script src="app/account/account.js"></script>
          <script src="app/account/login/login.js"></script>
          <script src="app/account/settings/settings.js"></script>
          <script src="app/account/signup/signup.js"></script>
          <script src="app/admin/admin.js"></script>
          <script src="app/asistencia/asistencia.js"></script>
          <script src="app/asistencias/asistencias.js"></script>
          <script src="app/asistenciasSrv/asistenciasSrv.js"></script>
          <script src="app/calendario/calendario.js"></script>
          <script src="app/editar/editar.js"></script>
          <script src="app/fechas/fechas.js"></script>
          <script src="app/ident/ident.js"></script>
          <script src="app/nombre/nombre.js"></script>
          <script src="app/notificar/notificar.js"></script>
          <script src="app/persona/persona.js"></script>
          <script src="app/personas/personas.js"></script>
          <script src="app/sede/sede.js"></script>
          <script src="app/sedeSrv/sedeSrv.js"></script>
          <script src="app/sede_edit/sede_edit.js"></script>
          <script src="app/selectOnClick/selectOnClick.js"></script>
          <script src="app/sidebar/sidebar.js"></script>
          <script src="app/turno/turno.js"></script>
          <script src="app/turnos/turnos.js"></script>
          <script src="app/voluntariado/voluntariado.js"></script>
          <script src="components/auth/auth.js"></script>
          <script src="components/auth/user.js"></script>
          <script src="components/mongoose-error/mongoose-error.js"></script>
          <script src="components/navbar/navbar.js"></script>
          <!-- endinjector -->
        <!-- endbuild -->
        <script>
          var andex_data = {};
          andex_data.personas = <%- JSON.stringify(personas) %>;
          andex_data.turnos = <%- JSON.stringify(turnos) %>;
          andex_data.sede = <%- JSON.stringify(admins) %>;
          andex_data.hoy = '<%= Date() %>';
          andex_data.identificacion = <%- JSON.stringify(identificacion) %>;
        </script>
</body>
</html>
