@import "compass/typography/text/replacement";

$colores: (nadie: $color-nadie, pocos: $color-pocos, alguno: $color-alguno, muchos: $color-muchos);
$offsets: (nadie: 0%, pocos: 33.333333%, alguno: 66.666666%, muchos: 100%);

.mes-anyo {
  text-align: center;
  font-weight: bold;
  background-color: $color-toolbar;
  h1 {
    display: block;
    margin: 0;
    padding: .5em;
    font-size: 1.1em;
  }
  .nav {
    @include boton;
    padding: 0.5em 1em;
    margin: .35em;
    color: $color-letra;
    background: none;
    border: none;
    box-shadow: none;
  }
  #anterior {
    float: left;
  }
  #siguiente {
    float: right;
  }
  #anterior, #siguiente {
    -webkit-tap-highlight-color: transparent;
    &:hover {
      background: rgba(1, 1, 1, 0.2);
    }
    &:focus {
      background: rgba(1, 1, 1, 0.25);
      outline: 0;
    }
    &:active {
      background: rgba(1, 1, 1, 0.3);
    }
  }
}

.mes {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 4px $color-sombra;
  tr:first-child {
    background: $color-toolbar;
  }
  th {
    font-weight: normal;
    font-size: 0.75em;
    padding: 0.2em;
  }
  td {
    padding: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    &.hoy {
      font-weight: bold;
      color: $color-hoy;
    }
    &.seleccionado {
      font-weight: bold;
      border: $color-sombraoscura solid 1px;
      background-color: $color-sombramedia;
    }
    &:hover {
      background-color: $color-sombraclara;
    }
    &:focus {
      background-color: $color-sombramedia;
      outline: 0;
    }
    &:active {
      background-color: $color-sombraoscura;
    }
  }
  @each $nivel, $color in $colores {
    .t-#{$nivel} {
      background-color: $color;
    }
  }
  @each $nivel, $offset in $offsets {
    .m-#{$nivel} {
      background-image: url(/assets/images/fondos.png);
      background-image: inline-image('fondos.png');
      background-size: 400% 100%;
      background-repeat: no-repeat;
      background-origin: border-box;
      background-position-x: $offset;
    }
  }
  .otro-mes {
    background-color: $color-grisclaro;
    color: $color-otro-mes;
  }
}
