<!-- CALENDARIO -->
<nav class="mes-anyo clearfix"><a ng-href="#/{{annoAnterior}}/{{mesAnterior}}" class="nav" title="Mes anterior" id="anterior"><i class="fa fa-chevron-left"></i></a><a ng-href="#/{{annoSiguiente}}/{{mesSiguiente}}" class="nav" title="Mes siguiente" id="siguiente"><i class="fa fa-chevron-right"></i></a><h1 id="fecha">{{ mesAnno }}</h1></nav>
<table class="mes">
  <tr> <th>L</th> <th>M</th> <th>X</th> <th>J</th> <th>V</th> <th>S</th> <th>D</th> </tr>
  <tr ng-repeat="semana in calendario">
    <td ng-class="semana[0].asistencias"><a ng-href="#{{ getURL(semana[0]) }}" ng-class="{ seleccionado: isSeleccionado(semana[0]) }">{{ semana[0].delMes }}</a></td>
    <td ng-class="semana[1].asistencias"><a ng-href="#{{ getURL(semana[1]) }}" ng-class="{ seleccionado: isSeleccionado(semana[1]) }">{{ semana[1].delMes }}</a></td>
    <td ng-class="semana[2].asistencias"><a ng-href="#{{ getURL(semana[2]) }}" ng-class="{ seleccionado: isSeleccionado(semana[2]) }">{{ semana[2].delMes }}</a></td>
    <td ng-class="semana[3].asistencias"><a ng-href="#{{ getURL(semana[3]) }}" ng-class="{ seleccionado: isSeleccionado(semana[3]) }">{{ semana[3].delMes }}</a></td>
    <td ng-class="semana[4].asistencias"><a ng-href="#{{ getURL(semana[4]) }}" ng-class="{ seleccionado: isSeleccionado(semana[4]) }">{{ semana[4].delMes }}</a></td>
    <td ng-class="semana[5].asistencias"><a ng-href="#{{ getURL(semana[5]) }}" ng-class="{ seleccionado: isSeleccionado(semana[5]) }">{{ semana[5].delMes }}</a></td>
    <td ng-class="semana[6].asistencias"><a ng-href="#{{ getURL(semana[6]) }}" ng-class="{ seleccionado: isSeleccionado(semana[6]) }">{{ semana[6].delMes }}</a></td>
  </tr>
</table>

<section ng-if="!ready" class="asistencias ayuda">Cargando datos…</section>

<!-- LISTA DE ASISTENCIAS -->
<section ng-if="!dia && ready" class="asistencias ayuda">Selecciona un día del mes…</section>
<section ng-repeat="turno in turnos" ng-controller="AsistenciasCtrl" class="asistencias">
  <header><button class="minimizar" ng-click="toggleMinimizado()"><i class="fa" ng-class="{ 'fa-minus': !isMinimizado(), 'fa-plus': isMinimizado() }"></i></button><span class="horario">{{turno.nombre}}</span></header>
  <table class="lista" ng-hide="isMinimizado()">
    <tr ng-repeat="asistencia in asistencias | orderBy:orden" ng-controller="AsistenciaCtrl" ng-class="{ inactiva: isInactivo() }" class="fila">
      <td class="columna nombre">{{ asistencia.persona | nombre }}</td>
      <td class="columna asistencia" ng-class="asistencia.estado" ng-click="modalNotificar()" role="button" tabindex="0" ng-switch="ajax || asistencia.estado">
        <i ng-switch-when="si" class="fa fa-check"></i>
        <i ng-switch-when="no" class="fa fa-close"></i>
        <i ng-switch-when="na" class="fa fa-question"></i>
        <i ng-switch-when="ajax" class="fa fa-refresh fa-spin"></i>
      </td>
    </tr>
  </table>
  <button class="nuevo" ng-hide="isMinimizado()" ng-click="nuevoVoluntario()"><i class="fa fa-plus-square-o"></i>&nbsp; Añadir voluntari@</button>
</section>

<!-- DIÁLOGO DE NOTIFICACIÓN DE ASISTENCIA/AUSENCIA -->
<script type="text/ng-template" id="/notificar.html">
  <menu class="modal-notificar">
    <header class="cabecera">
      <h1 class="nombre">{{ asistencia.persona | nombre }}</h1>
      {{ turno.diaSemana }} {{ turno.diaMesAnno }}, <span id="turno">{{ turno.entrada }} - {{ turno.salida }}</span>
    </header>
    <button ng-disabled="demasiadoTarde" ng-click="seleccionarOpcion('si')" class="si">Asiste</button>
    <button ng-disabled="demasiadoTarde" ng-click="seleccionarOpcion('no')" class="no">No asiste</button>
    <div class="desplegable" ng-click="toggleDesplegado()">Otras opciones…
      <div ng-show="desplegado" class="lista ng-hide">
        <div ng-click="seleccionarOpcion('na')" class="boton no-avisa">Deshacer notificación</div>
        <div ng-click="seleccionarOpcion('I')" class="boton inactivo">No asiste hasta nuevo aviso</div>
        <div ng-click="seleccionarOpcion('B')" class="boton baja">Baja definitiva</div>
      </div>
    </div>
    <button ng-click="cancelar()" class="cancelar">Cancelar</button>
  </menu>
</script>

<!-- DIÁLOGO DE ALTA DE VOLUNTARIO -->
<script type="text/ng-template" id="/nuevovoluntario.html">
  <form class="modal-alta" name="altaForm" novalidate ng-submit="altaForm.$valid && altaVoluntario()">
    <header class="cabecera">
      <h1>Alta de voluntari@</h1>
      <h2>{{ turno.nombre }}</h2>
    </header>
    <section class="datos">
      <!--[if lt IE 10]><label for="alta-nombre">Nombre: </label><![endif]-->
      <input ng-model="persona.nombre" id="alta-nombre" type="text" placeholder="Nombre" autofocus required>
      <!--[if lt IE 10]><label for="alta-apellidos">Apellidos: </label><![endif]-->
      <input ng-model="persona.apellidos" id="alta-apellidos" type="text" placeholder="Apellidos" required>
    </section>
    <footer class="pie">
      <input type="submit" class="aceptar" value="Dar de alta">
      <input type="button" ng-click="cancelar()" class="cancelar" value="Cancelar">
    </footer>
  </form>
</script>
