<!-- CALENDARIO -->
<nav class="mes-anyo clearfix"><a ng-href="/asistencias/{{annoAnterior}}/{{mesAnterior}}" class="nav" title="Mes anterior" id="anterior" role="button"><i class="fa fa-chevron-left"></i></a><a ng-href="/asistencias/{{annoSiguiente}}/{{mesSiguiente}}" class="nav" title="Mes siguiente" id="siguiente" role="button"><i class="fa fa-chevron-right"></i></a><h1 id="fecha">{{ mesAnno }}</h1></nav>
<table class="mes">
  <tr> <th>L</th> <th>M</th> <th>X</th> <th>J</th> <th>V</th> <th>S</th> <th>D</th> </tr>
  <tr ng-repeat="semana in calendario">
    <td ng-class="semana[0].asistencias"><a ng-href="{{ getURL(semana[0]) }}" ng-class="{ seleccionado: isSeleccionado(semana[0]), hoy: isHoy(semana[0]) }">{{ semana[0].delMes }}</a></td>
    <td ng-class="semana[1].asistencias"><a ng-href="{{ getURL(semana[1]) }}" ng-class="{ seleccionado: isSeleccionado(semana[1]), hoy: isHoy(semana[1]) }">{{ semana[1].delMes }}</a></td>
    <td ng-class="semana[2].asistencias"><a ng-href="{{ getURL(semana[2]) }}" ng-class="{ seleccionado: isSeleccionado(semana[2]), hoy: isHoy(semana[2]) }">{{ semana[2].delMes }}</a></td>
    <td ng-class="semana[3].asistencias"><a ng-href="{{ getURL(semana[3]) }}" ng-class="{ seleccionado: isSeleccionado(semana[3]), hoy: isHoy(semana[3]) }">{{ semana[3].delMes }}</a></td>
    <td ng-class="semana[4].asistencias"><a ng-href="{{ getURL(semana[4]) }}" ng-class="{ seleccionado: isSeleccionado(semana[4]), hoy: isHoy(semana[4]) }">{{ semana[4].delMes }}</a></td>
    <td ng-class="semana[5].asistencias"><a ng-href="{{ getURL(semana[5]) }}" ng-class="{ seleccionado: isSeleccionado(semana[5]), hoy: isHoy(semana[5]) }">{{ semana[5].delMes }}</a></td>
    <td ng-class="semana[6].asistencias"><a ng-href="{{ getURL(semana[6]) }}" ng-class="{ seleccionado: isSeleccionado(semana[6]), hoy: isHoy(semana[6]) }">{{ semana[6].delMes }}</a></td>
  </tr>
</table>

<section ng-if="!ready" class="asistencias cargando"><i class="fa fa-refresh fa-spin"></i> &nbsp;Cargando datos…</section>

<!-- LISTA DE ASISTENCIAS -->
<section ng-if="!dia && ready" class="asistencias ayuda">Selecciona un día del mes…</section>
<section ng-show="dia && ready" ng-repeat="turno in turnos" ng-controller="AsistenciasCtrl" class="asistencias">
  <header><button class="minimizar" ng-click="toggleMinimizado()"><i class="fa" ng-class="{ 'fa-minus': !isMinimizado(), 'fa-plus': isMinimizado() }"></i></button><span class="horario">{{turno.nombre}}</span></header>
  <table class="tabla" ng-if="!loggedIn()" ng-hide="isMinimizado()">
    <tr class="fila"> <td class="columna">Asistencias confirmadas: </td> <td class="columna totales si">{{ totales.si }}</td> </tr>
    <tr class="fila"> <td class="columna">Ausencias confirmadas: </td> <td class="columna totales no">{{ totales.no }}</td> </tr>
    <tr class="fila"> <td class="columna">Por confirmar: </td> <td class="columna totales na">{{ totales.na }}</td> </tr>
  </table>
  <table class="tabla" ng-if="loggedIn()" ng-hide="isMinimizado()">
    <tr ng-repeat="asistencia in asistencias | orderBy:orden" ng-controller="AsistenciaCtrl" ng-class="{ inactiva: isInactivo() }" class="fila">
      <td class="columna nombre">{{ asistencia.persona | nombre }}</td>
      <td class="columna asistencia" ng-class="asistencia.estado" ng-click="modalNotificar()" role="button" tabindex="0">
        <i class="fa" ng-class="indicador()"></i>
      </td>
    </tr>
  </table>
</section>

<!-- DIÁLOGO DE NOTIFICACIÓN DE ASISTENCIA/AUSENCIA -->
<script type="text/ng-template" id="/notificar.html">
  <menu class="modal-notificar" role="dialog" tabindex="0">
    <header class="cabecera">
      <h1 class="nombre">{{ asistencia.persona | nombre }}</h1>
      {{ turno.diaSemana }} {{ turno.diaMesAnno }}, <span id="turno">{{ turno.entrada }} - {{ turno.salida }}</span>
    </header>
    <button ng-disabled="!puedeNotificar()" ng-click="seleccionarOpcion('si')" class="si">Asiste</button>
    <button ng-disabled="!puedeNotificar()" ng-click="seleccionarOpcion('no')" class="no">No asiste</button>
    <button ng-if="puedeDeshacer()" ng-click="seleccionarOpcion('na')" class="na">Deshacer notificación</button>
    <button ng-click="cancelar()" class="cancelar">Cancelar</button>
  </menu>
</script>
