@import "compass/typography/lists/inline-list";
@import "compass/typography/text/replacement";

.ficha {
  background-color: $color-ficha;
  color: $color-oscuro;
  padding: 1.5em;
  .nombre {
    margin: 0 0 0.5em 0;
    font-weight: 500;
    font-size: 1.4em;
  }
  dl {
    font-size: 0.9em;
    dt {
      float: left;
      clear: both;
      padding: 0.2em 0;
      margin-right: 0.5em;
      font-weight: bold;
    }
    dd {
      padding: 0.2em 0;
      margin: 0;
    }
    .coord {
      margin-left: 0.5em;
    }
  }
  p {
    margin: 0.2em 0;
    font-size: 0.9em;
  }
}
.ficha-ident {
  margin: 1.5em 5% 0;
  padding: 0.5em;
  border-radius: 4px;
  text-align: center;
  background-color: $color-toolbar;
  color: $color-oscuro;
  button {
    background: none;
    border: none;
    padding-bottom: 0.5em;
    font-weight: bold;
  }
  textarea {
    margin: 1em 0;
    width: 100%;
  }
}
.detalle {
  background-color: white;
  padding: 2em 1em;
  .historial {
    width: 100%;
    font-size: 0.9em;
    .registro {
      transition: all linear 0.5s;
      &.ng-enter {
        opacity: 0;
      }
      &.ng-enter.ng-active {
        opacity: 1;
      }
    }
    .fecha {
      text-align: right;
    }
    .notifs {
      padding-left: 1em;
      ul {
        @include inline-list();
        .fa.si {
          color: green;
          color: rgba(0, 128, 0, 0.75);
        }
        .fa.no {
          color: red;
          color: rgba(255, 0, 0, 0.75);
        }
        .fa.na {
          color: black;
          color: rgba(0, 0, 0, 0.75);
        }
        .fa.nv {
          color: black;
          color: rgba(0, 0, 0, 0.3);
        }
        .notif {
          @extend .sr-only;
        }
      }
    }
  }
}
