$ancho-movil: 768px;
$ancho-tablet: 1024px;

$color-fondo: #f0f0f0;
$color-sombra: gray;
$color-gris: gray;
$color-grisclaro: #d3d3d3;
$color-letra: #333;

$color-btn-rojo: #D95C5C;
$color-btn-verde: #5BBD72;
$color-btn-negro: #5C6166;

$color-nadie : #fdd;
$color-pocos : #dfd;
$color-alguno : darken($color-pocos, 10%);
$color-muchos : darken($color-pocos, 20%);
