$ancho-movil: 768px;
$ancho-tablet: 1024px;

$color-navbar: #2C311C;
$color-toolbar: #AEC074;
$color-ficha: #DDE5C3;
$color-fondo: #f0f0f0;
$color-sombra: gray;
$color-gris: gray;
$color-grisclaro: #d3d3d3;
$color-letra: #333;
$color-hoy: #9a0000;
$color-otro-mes: #3f3f3f;

$color-facebook: #3B579D;
$color-google: #D34836;
$color-email: #E96633;

$color-btn-rojo: #D95C5C;
$color-btn-verde: #5BBD72;
$color-btn-negro: #5C6166;

$color-nadie : #fdd;
$color-pocos : #dfd;
$color-alguno : darken($color-pocos, 10%);
$color-muchos : darken($color-pocos, 20%);

/* Estilo de lista para usar con @extend */
.lista {
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 0 2em;
  .item {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    line-height: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

/* Sólo visible para lectores de pantalla (accesibilidad) */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}
