.asistencias {
  margin: 1em;
  background-color: $color-fondo;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  padding: 0.8em 0;
  border-radius: 5px;
  &.ayuda {
    display: block;
    margin-top: 3em;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
  }
  & > header {
    font-weight: bold;
    text-align: center;
    .horario {
      display: block;
      margin-bottom: .6rem;
    }
    .minimizar {
      display: inline-block;
      float: right;
      margin: 0 .5em;
      border: rgba(0, 0, 0, 0.25) solid 1px;
      border-radius: 4px;
      background-color: transparent;
      font-size: 0.75rem;
    }
  }
  .lista {
    width: 100%;
    border-collapse: collapse;
    .columna {
      padding: .5em;
      border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
      border-top: rgba(0, 0, 0, 0.1) solid 1px;
      background-color: white;
    }
    .fila.inactiva {
      color: transparentize($color-letra, 0.5);
    }
  }
  .asistencia {
    font: {
      size: 1rem;
      weight: bold;
    }
    min-width: 2rem;
    text-align: center;
    border-left: rgba(0, 0, 0, 0.1) solid 1px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    cursor: pointer;
  }
  .asistencia.si {
    color: green;
  }
  .asistencia.no {
    color: red;
  }
  .asistencia.na {
    color: $color-gris;
  }
  input {
    border: none;
    background-color: rgba(0,0,0,0.05);
    font-size: 1em;
    padding: 0.3em;
    border-radius: 3px;
    width: 95%;
  }
  .nuevo {
    margin: 1em 0 0 1em;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
    border: none;
    background: transparent;
  }
}
