.ayuda {
  color: #444;
  padding: 2em;
  h1, h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  .url {
    font-family: Courier, "Courier New", monospace;
  }
}
