.modal-cambiogrupo {
  padding: 1.5em;
  .cabecera {
    padding: .8em 0;
    text-align: center;
    h1 {
      font-size: 1.1em;
      margin: 0  0 .4em 0;
    }
    h2 {
      font-size: 1em;
      font-weight: bold;
    }
  }
  .lista {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    .turno {
      @include boton;
      color: rgba(255, 255, 255, 0.8);
      background-color: lighten($color-btn-verde, 10%);
      display: block;
      padding: 0.7em 0;
      margin: 0.5em 0;
      &.actual {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
  .pie {
    margin-top: 1.5em;
    .cancelar {
      @include boton;
      width: 100%;
      padding: 1em;
      color: #808080;
      background-color: transparent;
      font-weight: normal;
    }
  }
}
