<div class="toolbar"><h1 class="titulo">Inicio de sesión</h1></div>
<ul class="lista-login">
  <li>
    <button class="facebook" ng-click="loginOauth('facebook')">
      <i class="fa fa-fw fa-facebook"></i> Inicia con Facebook
    </button>
  </li>
  <li>
    <button class="google" ng-click="loginOauth('google')">
      <i class="fa fa-fw fa-google"></i> Inicia con Google
    </button>
  </li>
  <li>
    <button class="email" ng-click="loginBrowserID()">
      <i class="fa fa-fw fa-envelope"></i> Inicia con tu email
    </button>
  </li>
</ul>
<h2 class="login-h2">¿No tienes cuenta?</h2>
<p class="login-p">¡Solicita tu enlace de confirmación para poder identificarte y registrarte!</p>
